/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2017, 2:47:35 PM
    Author     : G.S. Alim
*/
/*body{
    background-color: #AC8502;
}*/
/*.container{
    background-color: white;
}*/
.main-navbar{
    margin-bottom: 5px;   
    border-color: #FFF;
    /*border-color: #AC8502;*/
    /*background-color: #AC8502;*/
}

.top-banner{
    margin-bottom: 5px;
    /*padding-bottom: 10px;*/
}

.fbcci-navbar{
    background-image: linear-gradient(#00BCF6, #008FCC, #016AAC);
    -webkit-box-shadow: 0 1px 2px #016AAC;

    font-size: 13px;
    padding-bottom: 0;

    .fbcc-nav-form{
        padding: 0 5px;

        input,button{
            height: 25px;
            font-size: 12px;
            border: 2px solid black;
        }
        button{
            padding: 0 10px;
            color: white;
            font-weight: bold;
            background-image: linear-gradient(#E4B100, #B18701, #AC8502);
        }
        /*        @media (min-width: 768px){
                    input{
                        width: import;
                    }   
                }*/
    }

    ul{
        li{
            height: 40px;            
            border-right: 2px solid #61ABEA;
            border-bottom: none;
            a{
                padding-top: 11px;
                padding-bottom: 10px;
            }
        }
    }
    .navbar-nav li a {
        color: white;
        font-weight: bold;
    }
    .navbar-nav li a:hover {
        background-image: linear-gradient(#E4B100, #B18701, #AC8502);
        color: white;
    }
}

/*https://css-tricks.com/examples/hrs/*/
/*https://css-tricks.com/almanac/properties/b/box-shadow/*/
.carousel-inner{
    .item{
        &::after{
            /*background-image: url('../images/shadow-border.png');*/
            content: "";
            display: block;
            height: 50px;
            width: 100%;
            background-color: #D2D2D2;
            /*background: linear-gradient(0deg, grey 10%, white);*/
            position: absolute;
            /*top: 0;*/
            left: 0;
            bottom:0;
            /*background: -webkit-gradient(linear, 50% 0%, 50% 50%, color-stop(0%, darkgrey), color-stop(100%, lightgrey));*/
        }
    }
}

.carousel-indicators{

    padding: 0;
    margin-bottom: 5px;
    bottom: 0px;

    li.active{
        background-color: #AC8502;
    }
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}
